<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">


  <div class="content" animate-panel effect="zoomIn">
	<div class="row">
	    <div class="hpanel">
	        <div class="panel-body">
			    <div class="col-lg-12 text-center m-t-md">
			        <h2>
			            Welcome to EduArena
			        </h2>
			
			        <p>
			           Special platform for Online <strong>Education</strong>
			        </p>
			    </div>
			</div>
		</div> 
      </div>
   </div>
   
   <div class="content animate-panel">
	<div class="row">
	    <div class="col-lg-3">
	        <div class="hpanel hgreen contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class I </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block A</div>
	                <p>
	                    Lower School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>24</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>1A</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>6 - 7</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hgreen contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class II </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block A</div>
	                <p>
	                    Lower School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>20</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>2A</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>7 - 8</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hgreen contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class III </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block A</div>
	                <p>
	                    Lower School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>24</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>3A</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>8 - 9</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hgreen contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class IV </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block A</div>
	                <p>
	                    Lower School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>25</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>4A</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>9 - 10</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hgreen contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class V </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block A</div>
	                <p>
	                    Lower School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>27</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>5A</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>10 - 11</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hyellow contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class VI</a></h3>
	                <div class="text-muted font-bold m-b-xs">Block B</div>
	                <p>
	                    Middle  School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>26</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>1B</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>11 - 12</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hyellow contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class VII </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block B</div>
	                <p>
	                    Middle  School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>24</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>2B</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>12 - 13</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hyellow contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class VIII </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block B</div>
	                <p>
	                    Middle  School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>27</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>3B</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>13 - 14</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hviolet contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class IX </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block C</div>
	                <p>
	                    High   School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>25</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>1C</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>14 - 15</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hviolet contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class X </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block C</div>
	                <p>
	                    High   School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>28</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>2C</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>15 - 16</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hviolet contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class XI </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block C</div>
	                <p>
	                    High   School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>26</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>3C</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>16 - 17</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-3">
	        <div class="hpanel hviolet contact-panel">
	            <div class="panel-body">
	                <h3><a href=""> Class XII </a></h3>
	                <div class="text-muted font-bold m-b-xs">Block C</div>
	                <p>
	                    High   School
	                </p>
	            </div>
	            <div class="panel-footer contact-footer">
	                <div class="row">
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Students: </span> <strong>29</strong></div> </div>
	                    <div class="col-md-4 border-right"> <div class="contact-stat"><span>Room: </span> <strong>4C</strong></div> </div>
	                    <div class="col-md-4"> <div class="contact-stat"><span>Age: </span> <strong>17 - 18</strong></div> </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   
   </div>
  </div>
   

 <!-- Footer -->
 <footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>
