<div class="row" ng-controller="subjectCtrl">
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-body">

            <ui-select ng-init="school.selected = schoolList[0];getClass()" ng-model="school.selected" theme="bootstrap" ng-disabled="disabled" ng-change="getClass()">
               <ui-select-match placeholder="Select a school">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="school in schoolList | propsFilter: {name: $select.search, id: $select.search}">
                   <div ng-bind-html="school.name | highlight: $select.search"></div>
               </ui-select-choices>
             </ui-select>
            
             <div class="row m-t-md">
                   <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lower School</h5>
              </div>
             <div class="row">
                  <div class="col-sm-3 m-t-md" ng-repeat="class in lowerSch">
                     <button ladda="loading{{$index+1}}" ng-click="runLoading($index+1)" class="ladda-button btn btn-success" data-style="zoom-out">{{class.name}}</button>
                 </div>
              </div>
               
              <div class="row m-t-md">
                   <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle School</h5>
              </div>
            <div class="row">
                 <div class="col-sm-3 m-t-md" ng-repeat="class in middleSch">
                    <button ladda="loading{{$index+6}}" ng-click="runLoading($index+6)" class="ladda-button btn btn-warning" data-style="zoom-out">{{class.name}}</button>
                </div>
             </div>
             
              <div class="row m-t-md">
                   <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High School</h5>
              </div>
            <div class="row">
                 <div class="col-sm-3 m-t-md" ng-repeat="class in highSch">
                    <button ladda="loading{{$index+9}}" ng-click="runLoading($index+9)" class="ladda-button btn btn-info" data-style="zoom-out">{{class.name}}</button>
                </div>
             </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="hpanel">
			<uib-tabset>
                <uib-tab ng-repeat="list in Subject">
                    <uib-tab-heading>
                        {{list.name}}
                    </uib-tab-heading>
                    <div class="panel-body">
						<ul>
							<li ng-repeat="parent in list.content">
								<p class="text-danger">{{parent.title}}</p>
									<ul ng-repeat="child in parent.topics">
										<li>
											<p class="text-info">{{child.title}}</p>
										</li>
									</ul>
							</li>
						</ul>
					</div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>