<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

	<div class="content" animate-panel effect="zoomIn">
		<div class="row">
			<div class="hpanel">
				<div class="panel-body">
					<div class="text-center m-t-md">
						<h2>Welcome to EduArena</h2>
						<p>
							Special platform for Online <strong>Education</strong>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-controller="cmsCtrl" ng-init="getCmsList()">

			<uib-tabset> 
				<uib-tab ng-repeat="Subject in cmsPackageList" ng-show="{{Subject.contentFlag}}">
					<uib-tab-heading> {{Subject.name}}</uib-tab-heading>
					<div class="col-md-4" data-ng-repeat="content in Subject.content">
						<div class="hpanel">
							<div class="panel-body">
 								<p ng-if="content.type != 'youtube'"> <video  controls src="{{content.src}}" width="375" ></video> </p>
								<p ng-if="content.type == 'youtube'">
								<iframe width="375" height="211" src="{{content.src}}"
									frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</p>
							</div>
							<div class="panel-footer">{{content.title}}</div>
						</div>
					</div>
				</uib-tab> 
				 
			</uib-tabset>


		</div>
	</div>




	<!-- Footer -->
	<footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>
