<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

	<div class="content" animate-panel effect="zoomIn">
		<div class="row">
			<div class="hpanel">
				<div class="panel-body">
					<div class="text-center m-t-md">
						<h2>Welcome to EduArena</h2>
						<p>
							Special platform for Online <strong>Education</strong>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-controller="subscriptionCtrl">

            <div class="col-sm-3">
                <div class="hpanel plan-box hyellow">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Maths</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    <strong>Content</strong>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Maths
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-square-o"></i> Science
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> English
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Formative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Skills Proficiency Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Summative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Topic Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Subject Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Other Features</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Ask a Question
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Points to Remember
                                </td>
                            </tr>
                            </tbody>
                        </table>

 						 <div class="text-center">
                        	<button class="btn btn-warning" type="submit" ng-click="subscribeForm(2)">Subscribe</button>
                    	</div>
<!--                         <a href="#" class="btn btn-info btn-sm m-t-xs">Subscribe</a> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="hpanel plan-box hgreen">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Science</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    <strong>Content</strong>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-square-o"></i> Maths
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Science
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> English
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Formative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Skills Proficiency Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Summative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Topic Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Subject Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Other Features</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Ask a Question
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Points to Remember
                                </td>
                            </tr>
                            </tbody>
                        </table>

 						 <div class="text-center">
                        	<button class="btn btn-success" type="submit" ng-click="subscribeForm(3)">Subscribe</button>
                    	</div>

<!--                         <a href="#" class="btn btn-info btn-sm m-t-xs">Subscribe</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hpanel plan-box hblue">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Combo</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    <strong>Content</strong>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Maths
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Science
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> English
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Formative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Skills Proficiency Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Summative Assessments</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Topic Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Subject Test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Other Features</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Ask a Question
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-check-square-o"></i> Points to Remember
                                </td>
                            </tr>
                            </tbody>
                        </table>

 						 <div class="text-center">
                        	<button class="btn btn-info" type="submit" ng-click="subscribeForm(1)">Subscribe</button>
                    	</div>

<!--                         <a href="#" class="btn btn-info btn-sm m-t-xs">Subscribe</a> -->
                    </div>
                </div>
            </div>



		</div>
	</div>




	<!-- Footer -->
	<footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>
